.table {
  position: relative;
  height: 100%;
  font-size: var(--font-size-small);
  display: grid;
  /*grid-template-rows: fit-content(100%) auto;*/
  overflow: hidden;
}

.body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
}

.title {
  display: flex;
  font-weight: 600;
  padding-left: .5rem;
  font-size: var(--font-size-normal);
}

.metric {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.row {
  position: relative;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  margin-bottom: 5px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.row:last-of-type {
  border-bottom: none;
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 2;
}

.label a {
  color: inherit;
  text-decoration: none;
}

.label a:hover {
  color: var(--primary400);
}

.label:empty {
  color: #b3b3b3;
}

.label:empty:before {
  content: 'Unknown';
}

.value {
  width: 50px;
  text-align: right;
  margin-right: 1.5rem;
  cursor: pointer;
  color: var(--gray700);
}

.percent {
  position: relative;
  width: 4rem;
  text-align: right;
  background-color: #0001;
  border-radius: .2rem;
  padding-right: .25rem;
  font-weight: 800;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background: var(--snoozzYellow);
  z-index: -1;
  border-radius: .2rem;
}
